/* DG 2024: NEW */
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: 'Roboto', Arial, sans-serif;
}

.container {
  display: flex;
  height: 100vh; /* Full viewport height */
}
.left-column {
  width: 180px;
  background-color: #D6ECFB;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: width 0.3s;
  user-select: none;
}
.left-column.collapsed {
  width: 50px;
}
.left-column.collapsed .form-group,
.left-column.collapsed .instructions,
.left-column.collapsed .col-heading {
  display: none;
}
.left-column .top-row {
  display: flex;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}
.col-heading {
  font-size: 24px;
}
.toggle-btn {
  background: none;
  border: none;
  color: black;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  /*padding: 10px;*/
  padding: 0;
}
.toggle-btn.collapsed {
  display: none;
}
.right-column {
  flex: 1;
  padding: 10px;
  box-sizing: border-box;
  overflow-y: auto;
}

#results {
  width: 100%;
  height: 100%;
}
.form-group {
  margin-bottom: 8px;
}
.form-group label {
  display: block;
  margin-bottom: 2px;
  font-size: smaller;
  font-weight: 700;
  text-wrap: nowrap;
}
.form-group select {
  width: 100%;
  padding: 4px 2px;
}
.form-group button {
  padding: 4px
}
.instructions {
  font-size: 12px;
  
}
.arrow {
  font-size: 1.5em; /* Adjust the size as needed */
}

table {
  width: 100%;
  border-collapse: collapse;
  /*margin: 14px 0;*/
  font-size: 16px;
  text-align: left;
}

th, td {
  border: 1px solid #ddd;
  padding: 2px 5px;
}

th {
  padding: 12px 5px;
  background-color: #f2f2f2;
  color: #333;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}

td:first-child {
  width: 80px;
}

.buttons {
  display: flex;
  flex-direction: row;
}

.pageBtn, .mapBtn {
  cursor: pointer;
  display: flex;
  padding: 5px;
  border-radius: 5px;
  /*background-color: #007bff;*/
  background-color: #D6ECFB;
  color: white;
  margin-right: 4px;
  height: 22px;
  width: 22px;
}

.pageBtn:hover, .mapBtn:hover {
  background-color: #B0D4F1;
  background-size: 28px;
}

.pageBtn {
  background-image: url(../images/newspaper.svg);
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
}

.mapBtn {
  background-image: url(../images/maps.svg);
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
}

/*.pageBtn img, .mapBtn img {
  cursor: pointer;
  display: inline-flex;
  padding: 3px;
  border-radius: 5px;
  color: white;
  float: left;
}*/

.pageBtn img {
  cursor: pointer;
  vertical-align: text-top;
}

.mapBtn {
  cursor: pointer;
}

.mapBtn img {
  vertical-align: text-top;
  float: inline-start;
}

.custom-alert-close-btn {
  background-color: #D6ECFB !important;
  color: black !important;
  border-radius: 5px;
}

.custom-alert-close-btn:hover {
  background-color: #B0D4F1 !important;
}